.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.square:focus {
	outline: none;
}
.square:hover {
	background-color: lightgray;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.game-status{
	text-align: center;
}