.game{
	margin-top: 1rem;
}

.game-board{
	padding: 10px;
	width: 100%;
	height: 600px;
	overflow-x: auto;
	overflow-y: auto;
	background: rgba( 255, 255, 255, 0.6 );
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	backdrop-filter: blur( 5.0px );
	-webkit-backdrop-filter: blur( 5.0px );
	border-radius: 10px;
	text-align: center;
}

.board-row {
	display: -webkit-inline-box;
}

.square {
	background: none;
	border: .5px solid rgba(97, 97, 97, 0.2);
	float: left;
	height: 29px;
	padding: 3px;
	width: 29px;
}

.square:focus {
	outline: none;
}

.square:hover {
	background-color: lightgray;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.square-win {
	background-color: #f1f45a;
	animation: blinker .2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
	from {
	  	padding: 0;
	}
	to {
	  	padding: 2px;
	}
}