.bg {
  -webkit-filter: blur(100px);
  filter: blur(100px);
  min-height: 100vh;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/stotepicture.appspot.com/o/bg.png?alt=media&token=f26a143d-2fcd-4ccf-8443-5a6ae6799df1');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-home-sceen{
  text-transform: none ;
  background-color: #239478; 
  color: #fff; 
  border-radius: 50px; 
  padding: 20px; 
  margin-top: 40px; 
  font-size: 25px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.btn-home-sceen:hover{
  background-color: rgb(24, 103, 84);
}

.link-custom{
  text-decoration: none;
  color: inherit;
}

.paper-custom{
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
}